/* RESPONSIVE WIDTH */
/* Desktop Screen */
@media (min-width: 1460px) and (max-width: 8000px) {
  .currencies {
    display: grid;
  }
  .fs-1 {
    font-size: 2px !important;
  }
  .fs-2 {
    font-size: 3px !important;
  }
  .fs-3 {
    font-size: 7px !important;
  }
  .fs-beamx {
    font-size: 3px !important;
  }
}





/* RESPONSIVE HEIGHT (615px - 920px)*/
@media (min-height: 615px) and (max-height: 623px) {
  .currencies {
    grid-template-rows: 385px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 50px !important;
    margin-top: 56px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 41.5px !important;
  }
}
@media (min-height: 624px) and (max-height: 629px) {
  .currencies {
    grid-template-rows: 392px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 50px !important;
    margin-top: 58px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 44.5px !important;
  }
}
@media (min-height: 630px) and (max-height: 638px) {
  .currencies {
    grid-template-rows: 395px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 55px !important;
    margin-top: 56px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 41.5px !important;
  }
}
@media (min-height: 639px) and (max-height: 644px) {
  .currencies {
    grid-template-rows: 405px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 55px !important;
    margin-top: 51px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 34px !important;
  }
}
@media (min-height: 645px) and (max-height: 650px) {
  .currencies {
    grid-template-rows: 410px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 60px !important;
    margin-top: 48px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 29.5px !important;
  }
}
@media (min-height: 651px) and (max-height: 655px) {
  .currencies {
    grid-template-rows: 415px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 65px;
    margin-top: 46px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 27px !important;
  }
}
@media (min-height: 656px) and (max-height: 660px) {
  .currencies {
    grid-template-rows: 420px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 70px !important;
    margin-top: 45px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 35px !important;
  }
}
@media (min-height: 661px) and (max-height: 665px) {
  .currencies {
    grid-template-rows: 425px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 70px !important;
    margin-top: 42px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 31px !important;
  }
}
@media (min-height: 666px) and (max-height: 670px) {
  .currencies {
    grid-template-rows: 430px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 70px !important;
    margin-top: 41px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 30px !important;
  }
}
@media (min-height: 671px) and (max-height: 675px) {
  .currencies {
    grid-template-rows: 435px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 70px !important;
    margin-top: 38px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 25px !important;
  }
}
@media (min-height: 676px) and (max-height: 680px) {
  .currencies {
    grid-template-rows: 435px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 70px !important;
    margin-top: 40px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 28px !important;
  }
}
@media (min-height: 681px) and (max-height: 685px) {
  .currencies {
    grid-template-rows: 442px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 70px !important;
    margin-top: 38px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 27px !important;
  }
}
@media (min-height: 686px) and (max-height: 690px) {
  .currencies {
    grid-template-rows: 445px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 70px !important;
    margin-top: 37px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 25px !important;
  }
}
@media (min-height: 691px) and (max-height: 696px) {
  .currencies {
    grid-template-rows: 450px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 70px !important;
    margin-top: 36px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 24px !important;
  }
}
@media (min-height: 697px) and (max-height: 702px) {
  .currencies {
    grid-template-rows: 455px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 75px !important;
    margin-top: 33px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 23.5px !important;
  }
}
@media (min-height: 703px) and (max-height: 708px) {
  .currencies {
    grid-template-rows: 465px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 80px !important;
    margin-top: 29.5px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 24px !important;
  }
}
@media (min-height: 709px) and (max-height: 715px) {
  .currencies {
    grid-template-rows: 472px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    margin-top: 27.5px !important;
    height: 80px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 22px !important;
  }
}
@media (min-height: 716px) and (max-height: 721px) {
  .currencies {
    grid-template-rows: 480px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 80px !important;
    margin-top: 25px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 18px !important;
  }
}
@media (min-height: 722px) and (max-height: 728px) {
  .currencies {
    grid-template-rows: 488px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 85px !important;
    margin-top: 20px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 14px !important;
  }
}
@media (min-height: 729px) and (max-height: 736px) {
  .currencies {
    grid-template-rows: 495px;
  } 
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    margin-top: 17.5px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 5px !important;
  }
}
@media (min-height: 737px) and (max-height: 745px) {
  .currencies {
    grid-template-rows: 500px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    margin-top: 15px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 5px !important;
  }
}
@media (min-height: 746px) and (max-height: 751px) {
  .currencies {
    grid-template-rows: 510px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    margin-top: 11px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 5px !important;
  }
}
@media (min-height: 752px) and (max-height: 758px) {
  .currencies {
    grid-template-rows: 515px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    margin-top: 8.5px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 5px !important;
  }
}
@media (min-height: 759px) and (max-height: 766px) {
  .currencies {
    grid-template-rows: 520px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    margin-top: 7px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 5px !important;
  }
}
@media (min-height: 767px) and (max-height: 775px) {
  .currencies {
    grid-template-rows: 525px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    margin-top: 5px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 5px !important;
  }
}
@media (min-height: 776px) and (max-height: 782px) {
  .currencies {
    grid-template-rows: 535px;
  }
  .container-5 {
    display: grid;
    height: 7.5px !important;
  }
  .container-6 {
    display: grid !important;
    margin-top: 3px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 5.5px !important;
  }
}
@media (min-height: 783px) and (max-height: 788px) {
  .currencies {
    grid-template-rows: 540px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    margin-top: 0.5px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 6px !important;
  }
}
@media (min-height: 789px) and (max-height: 795px) {
  .currencies {
    grid-template-rows: 545px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    margin-top: 0.5px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 9px !important;
  }
}
@media (min-height: 796px) and (max-height: 805px) {
  .currencies {
    grid-template-rows: 555px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    margin-top: 0.2px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 10px !important;
  }
}
@media (min-height: 806px) and (max-height: 812px) {
  .currencies {
    grid-template-rows: 560px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    margin-top: 0.2px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 14px !important;
  }
}
@media (min-height: 813px) and (max-height: 820px) {
  .currencies {
    grid-template-rows: 570px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    margin-top: 0px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 19px !important;
  }
}
@media (min-height: 821px) and (max-height: 827px) {
  .currencies {
    grid-template-rows: 575px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    margin-top: 0px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 21px !important;
  }
}
@media (min-height: 828px) and (max-height: 835px) {
  .currencies {
    grid-template-rows: 585px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    margin-top: 0px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 23px !important;
  }
}
@media (min-height: 836px) and (max-height: 843px) {
  .currencies {
    grid-template-rows: 585px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 130px !important;
    margin-top: -10px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 20px !important;
  }
}
@media (min-height: 844px) and (max-height: 850px) {
  .currencies {
    grid-template-rows: 595px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 130px !important;
    margin-top: -12px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 20px !important;
  }
}
@media (min-height: 851px) and (max-height: 857px) {
  .currencies {
    grid-template-rows: 605px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 130px !important;
    margin-top: -12px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 18.5px !important;
  }
}
@media (min-height: 858px) and (max-height: 865px) {
  .currencies {
    grid-template-rows: 615px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 130px !important;
    margin-top: -14px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 16.5px !important;
  }
}
@media (min-height: 866px) and (max-height: 874px) {
  .currencies {
    grid-template-rows: 620px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 130px !important;
    margin-top: -22px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 4px !important;
  }
}
@media (min-height: 875px) and (max-height: 882px) {
  .currencies {
    grid-template-rows: 630px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 130px !important;
    margin-top: -22px !important;
  }
  .container-7 {
    display: grid;
    margin-top: 4px !important;
  }
}
@media (min-height: 883px) and (max-height: 890px) {
  .currencies {
    grid-template-rows: 640px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 130px !important;
    margin-top: -32px !important;
  }
  .container-7 {
    display: grid;
    margin-top: -12px !important;
  }
}
@media (min-height: 891px) and (max-height: 896px) {
  .currencies {
    grid-template-rows: 650px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 130px !important;
    margin-top: -32px !important;
  }
  .container-7 {
    display: grid;
    margin-top: -12.5px !important;
  }
}
@media (min-height: 897px) and (max-height: 905px) {
  .currencies {
    grid-template-rows: 656px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 130px !important;
    margin-top: -32px !important;
  }
  .container-7 {
    display: grid;
    margin-top: -11.5px !important;
  }
}
@media (min-height: 906px) and (max-height: 912px) {
  .currencies {
    grid-template-rows: 665px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 130px !important;
    margin-top: -42px !important;
  }
  .container-7 {
    display: grid;
    margin-top: -27.5px !important;
  }
}
@media (min-height: 913px) and (max-height: 920px) {
  .currencies {
    grid-template-rows: 675px;
  }
  .container-5 {
    display: grid;
    height: 10px !important;
  }
  .container-6 {
    display: grid !important;
    height: 130px !important;
    margin-top: -42px !important;
  }
  .container-7 {
    display: grid;
    margin-top: -27.5px !important;
  }
}