* {
    margin: 0;
    padding: 0;
}
*, :after, :before {
    box-sizing: inherit;
}
body {
    font-family: "Roboto", Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
    background-color: #1D1F1E;
    direction: ltr;
}

/* Start Header Section */
header {
    position: relative;
    z-index: 90;
    height: 40px;
    font-family: "Roboto", Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 400;
    transition: top .5s;
    background-color: #2E2D2F;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    /* width: 100%; */
    padding: 1px;
    display: flex;
    flex-direction: row;
}
.top-header {
    margin-bottom: -4px;
}
a {
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #FFF;
    left: 0;
    opacity: .8;
}
nav ul li a:hover {
    color: #68BD69;
}
.flex {
    display: flex;
}
.items-center {
    align-items: center;
}
.items-end {
    align-items: flex-end;
}
.items-start {
    align-items: flex-start;
}
.justify-center {
    justify-content: center;
}
.active {
    color: #67c970;
}
.pointer {
    cursor: pointer;
}
.mr-1 {
    margin-right: 3px;
}
.mt-1 {
    margin-top: 10px;
}
.logo {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

/* Betpando.io */
.earnMenuButton-link {
    display: inline-block;
    align-items: flex-start;
    margin-top: 0;
    border: 0.5px solid #2E2D2F;
    border-radius: 20px;
}
.earnMenuButton-block {
    align-items: flex-start;
    background: #000000;
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0.3em 0 0;
    padding: 0.35em;
    text-align: center;
    width: 100px;
    margin-top: 0;

}
/* Positions */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.green {
    color: #84c47c;
    line-height: 24px;
}

/* Navbar-Right */
.right-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 80%;
    top: 0;
    bottom: 0;
}
/* Search Box */
.flex-search {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    right: 0;
    left: 0;
}
.search-box {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    width: 100px;
    height: 32px;
    padding: 0 10px;
    background: #202222;
    border-bottom: none;
}
.search-input {
    flex: 1 1;
    width: 100%;
    height: 32px;
    margin: 0;
    padding: 0 2px;
    padding-left: 19px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    line-height: 16px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    opacity: .23;
}
.search-box i {
    font-size: 18px;
    position: absolute;
    color: #A7A9B4; 
    left: 0;
    padding-left: 5px;
}
.right-nav-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.lang-span {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.lang-span {
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 70px;
    padding: 5px;
    color: #84c47c;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.01em;
    cursor: pointer;
}
.lang-span {
    margin: 0 3px;
    background: #313333;
    border-radius: 6px;
}

.login-span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 3px;
    padding: 5px 10px 5px 5px;
    color: #262626;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.01em;
    background: #7ec17f;
    border-radius: 6px;
    cursor: pointer;
}
.W_ygz3 {
    padding: 2px 10px 2px 20px;
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
    background-color: #5c8456;
    -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 100%,14px 50%);
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%,14px 50%);
}
.W_ygz3:before {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: inherit;
    content: "";
}
.W_ygz3:before {
    left: 10px;
    -webkit-clip-path: polygon(0 0,10px 50%,0 100%);
    clip-path: polygon(0 0,10px 50%,0 100%);
}
.MPWo15, .R0PFLx {
    display: flex;
    align-items: center;
}
.R0PFLx {
    justify-content: flex-start;
    padding: 0;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    opacity: .8;
}
/* End Header Section */



/* Start Seconed Header Content (Watchlist) */
.seconed-header {
    position: relative;
    z-index: 0;
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;
    justify-content: flex-start;
}
.top-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 1px;
}
/* Watchlist content */
.watchlist-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 91.8%;
    height: 42px;
    background-color: #2E2D2F;
    color: #fff;
    opacity: 0.96;
    left: 0;
    font-size: 16px;
    font-weight: 500;
    margin-left: 0.5px;
    border: 1px solid #2E2D2F;
    border-radius: 3px;
    padding: 0 90px 1px 1px;
}

.watchlist-container .watchlist {
    box-sizing: border-box;
    width: 100%;
    height: 23px;
    margin-left: 5px;
    padding: 3px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    line-height: 22px;
    text-align: left;
    background-color: transparent;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    transition: width .25s;
}
/* Plus Content */
.plus-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 42px;
    margin-right: 8px;
    margin-left: 12px;
    background-color: #2e2d2f;
    cursor: pointer;
    padding: 0 1px 0px 0px;
    border: 1px solid #2E2D2F;
    border-radius: 3px;
    opacity: 0.95;
}
.plus-container .plus {
    transform: rotate(45deg);
    transition: opacity .5s;
}

/* Right-buttons Section (Watchlist) */

.right-buttons {
    display: flex;
    align-items: center;
    margin-right: 2px;
    padding: 4px 0 4px 9px;
    background: #313333;
    border-radius: 6px;
}
.JhjuFP {
    background: #313333!important;
    cursor: default;
    opacity: 1!important;
}
.CuG2z2 {
    display: flex;
    margin: 0;
    color: #fff;
    font-size: 14px;
    background: #313333;
    border: none;
    outline: none;
    cursor: pointer;
}
.VkQtxF {
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    padding: 4px;
    opacity: .8;
}
.VkQtxF:last-child {
    margin-right: 10px;
}
.VkQtxF:not(:first-child) {
    margin-left: 5px;
}
/* End Seconed Header Content */


/* Start Main Content */
.main {
    display: flex;
    flex: 1 1;
    flex-flow: column nowrap;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;

}
.main-flex-row {
    display: flex;
    flex: 1 1;
    flex-direction: row;
}
.main-flex-col {
    display: flex;
    flex: 1 1;
    flex-direction: column;
}
.main-header {
    position: relative;
    z-index: 12;
    justify-content: space-between;
    width: 100%;
    min-height: 44px;
    margin-right: 2px;
    color: #959595;
    font-size: 14px;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    background-color: #1d1f1e;
    overflow: hidden;

}
.main-header .main-header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main-header .main-header-left .back-icon {
    position: relative;
    z-index: 99;
}
.z-1 {
    z-index: 1;
}

.back-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-right: 4px;
    margin-left: 4px;
    background-color: #2a2b2b;
    border-radius: 6px;
    cursor: pointer;
}
.back-icon-container:hover {
    background-color: #333;
}
.pd-top {
    padding-top: 4px;
    color: red;
}

.header-left-btn {
    display: flex;
    align-items: baseline;
    transform: translateX(0);
    transition: transform .3s;
}
.hover:hover {
    background-color: #333333;
}
.mr-4>* {
    margin-right: 4px;
}
.btn {
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    background-color: #2a2b2b;
    height: 32px;
    padding: 0 10px;
    min-width: -moz-fit-content;
    min-width: fit-content;
    transition: background-color .2s;
    color: hsla(0,0%,100%,.5);
}
.btn .btn-span {
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 32px;
    white-space: nowrap;
}
.static-100 {
    position: static;
    box-sizing: border-box;
    width: 100%;
}
.a11y-text {
    z-index: 9999;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
}
.css-1kt7wmo-control {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 38px;
    outline: 0!important;
    position: static;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
    text-align: left;
    background: none;
    border: 0;
}
.css-1d9prk1 {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 4px;
    height: 32px;
    color: #fff;
}
.css-1hac4vs-dummyInput {
    background: 0;
    border: 0;
    caret-color: transparent;
    font-size: inherit;
    grid-area: 1/1/2/3;
    outline: 0;
    padding: 0;
    width: 1px;
    color: transparent;
    left: -100px;
    opacity: 0;
    position: relative;
    -webkit-transform: scale(.01);
    -moz-transform: scale(.01);
    -ms-transform: scale(.01);
    transform: scale(.01);
}
.css-43ykx9-indicatorSeparator {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    background-color: hsl(0, 0%, 80%);
    margin-bottom: 8px;
    margin-top: 8px;
    width: 1px;
    box-sizing: border-box;
    display: none;
}
.css-1u8axtk {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    margin-left: 10px;
}

/* Start Main Header Right Content */
.width-shadow {
    z-index: 2;
    min-width: 215px;
    box-shadow: -15px 0 15px 0 #1d1f1e;
}
.main-header .main-header-right{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 1px;
    margin-top: -33px;
}

.first-btn-flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 36px;
    height: 25px;
}
.first-btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background: #313333;
    border-radius: 6px;
    padding: 4px 10px;
    margin-right: 4px;
}
.flex-m0 {
    display: flex;
    margin: 0;
}
.mr-7 {
    margin-right: 7px;
}
div {
    -webkit-tap-highlight-color: transparent;
}
.map-btn {
    display: flex;
    align-items: center;
    margin-right: 4px;
    padding: 4px 0 4px 9px;
    background: #313333;
    border-radius: 6px;
}

.share-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-width: 103px;
    height: 32px;
    color: #84c47c;
    background: #313333;
    border-radius: 6px;
    cursor: pointer;
}
.share-btn .fs-green {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #84c47c;
}



.bkfCzy {
    display: flex;
    flex: 1 1;
    flex-direction: row;
}
.NQAD9v {
    flex: 1 1;
    background-color: #1d1f1e;
}
.hOKHhN {
    position: relative;
    overflow: hidden;
}
.CpEfBg {
    position: fixed;
    bottom: 44px;
    left: 20px;
    z-index: 3;
    display: flex;
    flex-direction: column;
}
.CpEfBg ._9Upbrr:first-child {
    margin-top: 0;
    border-radius: 2px 2px 0 0;
}
.CpEfBg ._9Upbrr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-top: 2px;
    background: #323333;
    cursor: pointer;
    opacity: .5;
}

/* Start BTC, ETH, ... */
.hOKHhN ._556zxb {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    transform-origin: 0 0 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    perspective: 1000;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}
.fRHSri {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
}
.fRHSri .d26ypj {
    position: relative;
    margin: 2px 0 0 2px;
    padding: 0 0 25px;
    color: #f0f0f1;
    font-weight: 700;
    line-height: 1em;
    text-transform: capitalize;
    text-overflow: ellipsis;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}
.fRHSri ._8JeoG_ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding-top: 1px;
    padding-right: 5px;
}
.fRHSri .LYhuVc {
    display: inline-block;
    width: 100%;
    font-family: PlexSans,serif;
    text-overflow: ellipsis;
}
.mTpAkD {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    font-weight: 400;
    font-family: Roboto, Arial,Helvetica,sans-serif;
    text-decoration: none;
    text-shadow: 0.015em 0.015em 0 rgba(50,49,54,.28);
    background: rgba(50,50,51,0);
    opacity: 0.9;
}
.mTpAkD .k28UP7 {
    position: relative;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: 0.015em 0.015em 0 rgba(50,49,54,.28);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}
.mTpAkD ._66rAhH {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    transition: .2s;
}
.mTpAkD ._66rAhH path {
    stroke: hsla(0,0%,100%,0)!important;
    fill-opacity: 20%;
}
.mTpAkD ._7TaEAE {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    line-height: 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: 0.015em 0.015em 0 rgba(50,49,54,.28);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;

}
.mTpAkD .G9mNIj {
    line-height: 1em;
}
.mTpAkD .G9mNIj, .mTpAkD .k28UP7 {
    position: relative;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: 0.015em 0.015em 0 rgba(50,49,54,.28);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}
/* .mTpAkD .gO_9jc {
    position: absolute;
    color: #fff;
    text-align: center;
    text-shadow: 0.015em 0.015em 0 rgba(50,49,54,.28);
    bottom: -10px;
} */

.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.justify-start {
    justify-content: flex-start;
}
.justify-between {
    justify-content: space-between;
}
.text-center {
    text-align: center;
    margin-top: 40%;
}
.bg-green {
    background-color: #7ec17f;
}
.bg-red {
    background-color: #ED7171;
}
.bg-dark-green {
    background-color: #518651;
}
.fs-112 {
    font-size: 112px;
}
.border-hover:hover {
    border: 0.2rem solid #FFA500;
}

/* currencies SECTION */
.currencies {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 44% 2% 18.5% 15%;
    width: auto;
    height: 680px;
    text-align:center;
    background-color: #000;
    color: #fff;
}
.currencies > div {
    border: 0.1px solid #1b1616;
}

/* Container */
.container-1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}
.btc {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container-2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 39% 7% 4%;
}

.container-3 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
    margin-left: 4px;
}

/* Container-4 (SOL, AVAX, ...) */
.container-4 {
    width: 100%;
    display: grid;
    grid-template-columns: 80px 80px 80px 30px 40px 80px 100px;
    grid-template-rows: 100px 200px 50px 50px;
    grid-template-areas:
                        'sol sol  xrp xrp xrp xrp'
                        'sol sol avax avax ada ada'
                        'sol sol avax avax ada ada'
                        'dot dot trx trx ltc icp '
                        'dot dot trx trx atom etc'
                        ;
                        
}
.atom {
    grid-area: atom;
}
.arb {
    grid-area: arb;
}
.etc {
    grid-area: etc;
}
.icp {
    grid-area: icp;
}
.ltc {
    grid-area: ltc;
}
.trx {
    grid-area: trx;
}
.dot {
    grid-area: dot;
}

.sol {
    grid-area: sol;
}
.xrp {
    grid-area: xrp;
}
.ada {
    grid-area: ada;
}
.avax {
    grid-area: avax;
}


